{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}

    
    <div class="row">
        <div class="col-lg">
            Login
        </div>
        <div class="col-lg">
            Cadastro

            <form method='POST' action="">
                {% csrf_token %}
                {{ userform|crispy }}

                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                            Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}